{% extends 'lvb/base.html' %}

{% block about %}

           <div class="row">
             <div class="col-md-10">
              <div class="panel panel-success">
              <div class="panel-heading">
                 <h3 class="panel-title">About</h3>
              </div>
             
              <div class="panel-body">

<p>LVB is a free computer program. LVB uses parsimony to reconstruct phylogeny from a nucleotide multiple alignment, using a simulated annealing heuristic search. This is suitable for large data matrices. For further details, see the <a href="http://eggg.st-andrews.ac.uk/lvb/" onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://eggg.st-andrews.ac.uk/lvb/', 'LVB']);"  title="LVB" target="_blank">LVB Web page</a>.</p>

<p>The current version of LVB running on the Web server is 3.2 Beta</p>

<p>Download and support: <a href="http://eggg.st-andrews.ac.uk/lvb/" onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://eggg.st-andrews.ac.uk/lvb/', 'LVB']);"  title="LVB" target="_blank">LVB</a></p>
			  </div>
             </div>
            </div>
           </div>
{% endblock %}