{% extends 'lvb/base.html' %}

{% block contact %}

           <div class="row">
             <div class="col-md-10">
              <div class="panel panel-success">
              <div class="panel-heading">
                 <h3 class="panel-title">Contact</h3>
              </div>
             
              <div class="panel-body">
              	<ul class="list-unstyled">
              
				<li> <p>Please send any questions and bug reports to:</p> </li>
				<ul>
				<li> <p><a href="http://eggg.st-andrews.ac.uk/person/db60/" onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://eggg.st-andrews.ac.uk/person/db60/', 'Daniel Barker']);"  title="Daniel Barker" target="_blank">Daniel Barker</a> email <a href="mailto:db60@st-andrews.ac.uk" target="_top">db60 at st-andrews.ac.uk</a></p></li>
				</ul>
			  </div>
             </div>
            </div>
           </div>
{% endblock %}